<div class="admin-publish">
  <h2>New Article</h2>
  <form class="form" [formGroup]="form" (submit)="onSubmit()">
    
    <input type="text" formControlName="title" >
    <div class="error">
      <p *ngIf="f.title.errors?.required && f.title.touched">
        Title is required; 
      </p>
      <p *ngIf="f.title.errors?.minlength && f.title.touched">
        NimLength for title is {{f.title.errors?.minlength.requiredLength}}
      </p>
    </div>
    <textarea cols="30" rows="5" formControlName="description"></textarea>
    <textarea cols="30" rows="15" formControlName="content"></textarea>
    <button type="submit">Save</button>
  </form>
</div>