<header class="nav-bar">
  <h1 class="logo"><a [routerLink]="[ '/' ]">Mini-blog</a></h1>
  <nav class="nav">
    <ul class="menu">
      <li class="item">Articles</li>
      <li class="item">
        <a [routerLink]="[ '/admin', 'publish' ]">Publish</a>
      </li>
    </ul>
  </nav>
</header>

<div class="container-wrapper">
  <main class="container">
    <router-outlet></router-outlet>
  </main>
  
  <aside class="aside">
    <ul>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
    </ul>
  </aside>
</div>
